{% extends "mainsite/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <h2>注册账号</h2>
{% endblock %}

{% block content %}
<div class='container'>
{% for message in messages %}
    <div class='alert alert-{{message.tags}}'>{{ message }}</div>
{% endfor %}
<div class='row'>
    <div class='col-md-12'>
        <div class='panel panel-default'>
            <div class='panel-heading' align=center>
            <h3>注册医学数据统计分析平台账号</h3>
    </div>
</div>
<form action='.' method='POST'>
    {% csrf_token %}
        <table>
            {% bootstrap_form form %}
        </table>
    <input type='submit' value='注册'><br/>
</form>
</div>
{% endblock %}
