{% extends "mainsite/base.html" %}

{% block header %}
  <h2 style='font-family:微软雅黑'>1.运用Adaboost（Adaptive Boosting）在某病病人最终结局的分析和预测（数据集中包含30%的缺失值）示例</h2><br/>
  <h4 style='font-family:宋体'>简介：原理较复杂，一言以蔽之三个臭皮匠顶个诸葛亮。<strong>注意：本演示示例不可直接应用于临床、写作或引用于论文中，自主上传数据开放后所得结果则可以。</strong></h4>
  <h4 style='font-family:宋体'><i>说明：在自主提交数据开放以后，研究内容可自行脑补……</i><h4>
{% endblock %}

{% block content %}
<h4>训练数据集50次运行结果：</h4>
<p>第一次迭代总错误率为: 0.284280936455</p>
<p>第二次迭代总错误率为: 0.284280936455</p>
<p>…………中间好多…………</p>
<p>第49次迭代总错误率为: 0.19397993311</p>
<p>第50次迭代总错误率为: 0.1872909699</p>








<p>在经过 50 次迭代后测试集预测错误率为: 0.208955223880597（较逻辑回归大幅下降了有木有，ROC我就懒得画啦~）</p></h4><br/>
{% endblock content %}