{% extends "mainsite/base.html" %}

{% block header %}
  <h2 style='font-family:微软雅黑'>简单亲和性分析对针刺治疗周围性面瘫主穴搭配规律研究（示例演示）结果：</h2><br/>
  <h4 style='font-family:宋体'><strong>注意：本演示示例不可直接应用于临床、写作或引用于论文中，自主上传数据开放后所得结果则可以。</strong></h4>

{% endblock %}

{% block content %}

     <h3>主穴搭配支持度最高的前五种:</h3>
    {% for i in suppres %}
        <h4 style='font-family:微软雅黑'>{{ i }}</h4>
    {% endfor %}<br/>

    <h3>主穴搭配置信度最高的前五种:</h3>
    {% for i in confres %}
        <h4 style='font-family:微软雅黑'>{{ i }}</h4>
    {% endfor %}<br/>


{% endblock content %}