{% extends "mainsite/base.html" %}

{% block header %}
  <h2 style='font-family:微软雅黑'>通过Apriori算法对卒中住院患者死亡危险因素分析（示例演示）结果：</h2><br/>
  <h4 style='font-family:宋体'>简介：Apriori算法的基本原理是寻找频繁集项……此后省略一万字。本示例通过计算机学习8124例已有患者数据，研究中风患者<i><strong>年龄阶段、血压等级、BMI指数、吸烟史、饮酒史、血糖、血脂</strong></i>和<i><strong>入院肌力</strong></i>与<strong>患者住院期间死亡与否</strong>的关系。<strong>注意：本演示示例不可直接应用于临床、写作或引用于论文中，自主上传数据开放后所得结果则可以。</strong></h4>
  <h4 style='font-family:宋体'><i>说明：Apriori算法不是只能用来归纳常用药物或穴位组合哦~</i><h4>
{% endblock %}

{% block content %}

     <h3>和死亡相关的<strong>单一因素</strong>。
    {% for res2 in res2s %}
        <h4 style='font-family:微软雅黑'>{{ res2 }}</h4>
    {% endfor %}<br/>
	<h3>和死亡相关的<strong>两因素</strong>。
    {% for res3 in res3s %}
        <h4 style='font-family:微软雅黑'>{{ res3 }}</h4>
    {% endfor %}<br/>
	<h3>和死亡相关的<strong>三因素</strong>。
    {% for res4 in res4s %}
        <h4 style='font-family:微软雅黑'>{{ res4 }}</h4>
    {% endfor %}<br/>


 


{% endblock content %}