{% extends "mainsite/base.html" %}

{% block header %}
  <h2 style='font-family:微软雅黑'>2.通过Apriori算法对卒中住院患者死亡危险因素分析（示例演示）</h2><br/>
  <h4 style='font-family:宋体'>简介：Apriori算法的基本原理是寻找频繁集项……此后省略一万字。本示例通过计算机学习7909例已有患者数据，研究中风患者<i><strong>年龄阶段、血压等级、BMI指数、吸烟史、饮酒史、血糖、血脂</strong></i>和<i><strong>入院肌力</strong></i>与<strong>患者住院期间死亡与否</strong>的关系。<strong>注意：本演示示例不可直接应用于临床、写作或引用于论文中，自主上传数据开放后所得结果则可以。</strong></h4>
  <h4 style='font-family:宋体'><i>说明：Apriori算法不是只能用来归纳常用药物或穴位组合哦~</i><h4>
{% endblock %}

{% block content %}
<h4>原始数据：</h4>
{% load staticfiles %}
      <img src="{% static 'images/appoint.PNG' %}" /><h5>……后省略</h5>
	  <br/>
	  
	  <h3><a href="{% url 'mainsite:appointres' %}" style='font-family:微软雅黑'>运行Apriori（数据量大，或稍慢，需要注册登录）</a></h3>

 








{% endblock content %}