{% extends "mainsite/base.html" %}

{% block header %}
  <h1 style='font-family:微软雅黑'>更新日志</h1>
{% endblock %}

{% block content %}

<h3 style='font-family:宋体'>
      <li>201710127更新内容：</li>
	  <li>1.Data-Lab：基于支持向量机——识别鉴定脑出血和脑梗塞的CT影像经过一晚上的学习最终准确率达到了96%。</li>
	  <br/>
	  <li>201710126更新内容：</li>
	  <li>1.Data-Lab：基于马尔可夫模型随机生成一段黄帝内经（测试版本，风格一致但语义不通，就不开放自主提交文档生成相同风格文字了）。</li>
	  <br/>
	  <li>201710125更新内容：</li>
	  <li>1.Data-Lab：基于支持向量机的图像处理示例2——识别鉴定脑出血和脑梗塞的CT影像。争取早日开放单张图片提交预测。</li>
	  <br/>
	  <li>201710124更新内容：</li>
	  <li>1.Data-Lab：基于支持向量机的图像处理。自主数据提交可提交舌象、CT、MRI等医学图像，但是免费服务器很小短时间内不会开放。</li>
	  <br/>
	  <li>201710123更新内容：</li>
	  <li>1.Data-Lab：上线了单规则分类器（OneR）——卒中住院患者死亡危险因素分析（只需要一条Rule）。自主数据提交分析也同时开放啦。</li>
	  <br/>
	  <li>201710122更新内容：</li>
	  <li>1.换了个底层版本修了三天bug。</li>
	  <li>2.数据挖掘：上线了亲和性分析——针刺治疗周围性面瘫主穴搭配规律研究。自主数据提交分析也同时开放啦。</li>
	  <br/>
	  <li>201710121更新内容：</li>
	  <li>1.Data-Lab：修复词云bug。</li>
	  <br/>
	  <li>201710120更新内容：</li>
	  <li>1.医学统计： 正态性检验和方差齐性检验支持直接提交Excel表格了。</li>
	  <li>2.Data-Lab：上线了一个好玩的词云项目，示例为伤寒论，可直接提交你的文档进行词云展示。</li>
	  <br/>
	  <li>201710119更新内容：</li>
	  <li>1.Data-Lab：kNN算法开通自主数据学习预测，因为服务器空间有限，所以服务器不会保留所提交文件，每次均需重新提交。</li>
	  <li>2.医学统计： 描述性统计支持直接提交Excel表格了。其余部分这两天也会支持Excel表格，放心你的文件不会上传到服务器，服务器有限，都采用内存读取方式。</li>
	  <br/>
	  <li>201710118更新内容：</li>
	  <li>1.Data-Lab：上线了ID3决策树在名老中医用药选择规律研究方面的应用。<strong>结果末尾有彩蛋</strong></li>
	  <br/>
	  <li>201710117更新内容：</li>
	  <li>1.数据挖掘：上线了中医药领域药物或穴位组方最常用的Apriori算法关联规则分析(包括通过Apriori算法对卒中住院患者死亡危险因素分析、针灸治疗痤疮选穴规律分析两个示例）。</li>
	  <br/>
	  <li>201710116更新内容：</li>
	  <li>1.医学统计：上线了四格表卡方检验。</li>
	  <li>2.医学统计：上线了Fisher确切概率法检验。</li>
	  <br/>
	  <li>201710115更新内容：</li>
	  <li>1.医学统计：上线了四种t检验。</li>
	  <li>2.Data-Lab：上线了蛋白质序列氨基酸频率分析。</li>
	  <li>3.Data-Lab：上线了DNA序列碱基频率分析</li>
	  <li>4.Data-Lab：上线了RNA碱基频率分析</li>
	  <br/>
	  <li>201710114更新内容：</li>
	  <li>1.医学统计：上线了不可描述的方差齐性检验。</li>
	  <li>2.Data-Lab：上线了<strong>可交互模式</strong>的通过k-近领算法让计算机预测中风后的疗效等级（某种黑科技）。</li>
	  <br/>
	  <li>201710113更新内容：</li>
	  <li>1.医学统计：描述性统计部分修复了boxplot和hist的bug。</li>
	  <li>2.医学统计：上线了自带嘲讽功能的正态性检验。</li>
	  <br/>
	  <li>201710112更新内容：</li>
	  <li>1.医学统计：描述性统计部分还是用空格间隔数字吧，暂时不支持上传excel文档，因为服务器用的是免费的，空间有限，还有就是懒……</li>
	  <li>2.描述性统计部分加了boxplot和hist</li>
	  <br/>
	  <li>20171011更新内容：</li>
	  <li>1.医学统计：描述性统计部分上货了……</li>
	  <li>2.其他不要急</li>
	  <br/>
	  <li>20171009更新内容：</li>
	  <li>1.主页变漂亮啦</li>
      <li>2.底层代码全部重写了一遍……</li>
	  <li>3.准备开始干正事儿了……</li>
</h3>
{% endblock content %}

