{% extends "mainsite/base.html" %}

{% block header %}
  <h1 style='font-family:微软雅黑'>更新日志</h1>
{% endblock %}

{% block content %}

<h3 style='font-family:宋体'>
      <li>201710112更新内容：</li>
	  <li>1.医学统计：描述性统计部分还是用空格间隔数字吧，暂时不支持上传excel文档，因为服务器用的是免费的，空间有限，还有就是懒……</li>
	  <li>2.描述性统计部分加了boxplot和hist</li>
	  <br/>
	  <li>20171011更新内容：</li>
	  <li>1.医学统计：描述性统计部分上货了……</li>
	  <li>2.其他不要急</li>
	  <br/>
	  <li>20171009更新内容：</li>
	  <li>1.主页变漂亮啦</li>
      <li>2.底层代码全部重写了一遍……</li>
	  <li>3.准备开始干正事儿了……</li>
</h3>
{% endblock content %}

