{% extends "mainsite/base.html" %}

{% block header %}
  <h1 style='font-family:微软雅黑'>Data-Lab</h1>
{% endblock %}

{% block content %}

<h3>
      <p>一、机器学习</p>
	  <p style='font-family:微软雅黑'>（一）、kNN算法</p>
	  <h4><a href="{% url 'mainsite:knn'   %}" style='font-family:宋体'>1.通过kNN（k-近领算法）让计算机从以往数据中学习并预测中风后的疗效等级（示例演示）</a></h4>
	  <h4><a href="{% url 'mainsite:knnup'   %}"  style='font-family:宋体'>2.上传你的数据进行学习预测</a></h4><br/>
	  <h3 style='font-family:微软雅黑'><p>（二）、ID3决策树</p></h3>
	  <h4><a href="{% url 'mainsite:id3'   %}" style='font-family:宋体'>1.通过ID3决策树对名老中医治疗感冒君药选择规律研究（示例演示）</a></h4>
	  <h4 style='font-family:宋体'>2.上传你的数据进行学习预测(暂未开放）</h4><br/>
	  <h3 style='font-family:微软雅黑'><p>（三）、简单却极有效率的单规则分类器（OneR）</p></h3>
	  <h4><a href="{% url 'mainsite:oner' %}" style='font-family:宋体'>1.卒中住院患者<strong>死亡危险因素</strong>分析（示例演示）</a></h4>
	  <h4><a href="{% url 'mainsite:onerup' %}" style='font-family:宋体'>2.自主数据提交分析</a></h4><br/>
	  <h3 style='font-family:微软雅黑'><p>（四）、图像识别</p></h3>
	  <h4><a href="{% url 'mainsite:facerec' %}" style='font-family:宋体'>1.支持向量机图片识别示例————人脸识别）</a></h4>
	  <h4 style='font-family:宋体'>2.医学图像提交分析（短时间内不会开放<捂脸>）</h4><br/>
	  <h3>二、科研利器</h3>
	  <h4><a href="{% url 'mainsite:caa'   %}" style='font-family:宋体'>1.计算蛋白质序列中的氨基酸频率</a></h4>
	  <h4><a href="{% url 'mainsite:cdna'   %}" style='font-family:宋体'>2.DNA序列中碱基频率分析</a></h4>
	  <h4><a href="{% url 'mainsite:crna'   %}" style='font-family:宋体'>3.RNA序列中碱基频率分析</a></h4>
	  <h3>三、有趣的玩意儿</h3>
	  <h4><a href="{% url 'mainsite:wc1'   %}" style='font-family:宋体'>1.伤寒论词云示例</a></h4>
	  <h4><a href="{% url 'mainsite:wc2'   %}" style='font-family:宋体'>2.生成你的词云</a></h4>

	  
</h3>
{% endblock content %}

