{% extends "mainsite/base.html" %}

{% block header %}
  <h1 style='font-family:微软雅黑'>数据挖掘</h1>
{% endblock %}

{% block content %}

<h3>
      <p>一、机器学习</p>
	  <h4><a href="{% url 'mainsite:appoint'   %}" style='font-family:宋体'>1.通过Apriori算法针灸治疗痤疮选穴规律分析（示例演示）</a></h4>
	  <h4><a href="{% url 'mainsite:apdie'   %}" style='font-family:宋体'>2.通过Apriori算法对卒中住院患者死亡危险因素分析（示例演示）</a></h4>
	  <h4 style='font-family:宋体'>2.上传你的数据进行学习预测(暂未开放）</h4><br/>
	  
	  
</h3>
{% endblock content %}

