{% extends "mainsite/base.html" %}

{% block header %}
  <h1 style='font-family:微软雅黑'>一、描述性统计分析</h1>
{% endblock %}

{% block content %}
<h4 style='font-family:宋体'>注意：数字之间请用逗号间隔开，但不要输入数字和逗号以外的东西，<strong>因为不想写检查代码</strong>，例如，29,28,24,14……</h4>
<h3>
      <div class='container'>

<form name='my form' action="{% url 'mainsite:result'   %}" method='GET'>
    <textarea name='user_data' rows=3 cols=70></textarea><br/>
    <h4><input type='submit' value='提交'>
    <input type='reset' value='清除重填'></h4>
</form>
</div>

</h3>
{% endblock content %}
