{% extends "mainsite/base.html" %}

{% block header %}
  <h1 style='font-family:微软雅黑'>Fisher确切概率法检验结果：</h1>
{% endblock %}

{% block content %}

<h3>
 <ul>
      <li>
        <h3 style='font-family:宋体'>
         *最小理论频数T={{t}}<br/>
		 最重要的我都标出来了。。。是不是好贴心？<br/>
		 -------------------------------------------------------------------------------------<br/>
		 Fisher确切概率法检验oddsratio值：{{oddsratio}}<br/>
		 *P值：{{p}}<br/>
		 

         
        </h3>
      </li>
  </ul>
</h3>
{% endblock content %}
