{% extends "mainsite/base.html" %}

{% block header %}
  <h2 style='font-family:微软雅黑'>1.逻辑回归结合随机梯度上升算法在某病病人最终结局的分析和预测（数据集中包含30%的缺失值）结果</h2><br/>
  <h4 style='font-family:宋体'>简介：逻辑回归大家都学过啦~~~<strong>注意：本演示示例不可直接应用于临床、写作或引用于论文中，自主上传数据开放后所得结果则可以。</strong></h4>
  <h4 style='font-family:宋体'><i>说明：在自主提交数据开放以后，研究内容可自行脑补……</i><h4>
{% endblock %}

{% block content %}
<h3>
<h4>测试数据集十次运行结果：</h4>
<p>本次测试错误率为: 0.343284</p>
<p>本次测试错误率为: 0.373134</p>
<p>本次测试错误率为: 0.253731</p>
<p>本次测试错误率为: 0.373134</p>
<p>本次测试错误率为: 0.343284</p>
<p>本次测试错误率为: 0.343284</p>
<p>本次测试错误率为: 0.432836</p>
<p>本次测试错误率为: 0.388060</p>
<p>本次测试错误率为: 0.388060</p>
<p>本次测试错误率为: 0.388060</p>
<p>在经过 10 次运行后平均错误率为: 0.362687</p></h4><br/>
{% load staticfiles %}
<h4>未使用随机梯度上升算法示例：</h4><br/><img src="{% static 'images/log0.png' %}" /><br/>
<h4>使用随机梯度上升算法示例：</h4><br/><img src="{% static 'images/log1.png' %}" /><br/>
</h3>


{% endblock content %}