{% extends "mainsite/base.html" %}

{% block header %}
  <h2 style='font-family:微软雅黑'>简单亲和性分析对针刺治疗周围性面瘫主穴搭配规律研究（示例演示）结果：</h2><br/>
  <h4 style='font-family:宋体'><strong>注意：本演示示例不可直接应用于临床、写作或引用于论文中，自主上传数据开放后所得结果则可以。</strong></h4>

{% endblock %}

{% block content %}

<h3>
<h4>测试数据集迭代30轮运行结果：</h4>
<p>训练轮数及准确率 0: 9072 / 10000</p>
<p>训练轮数及准确率 1: 9278 / 10000</p>
<p>训练轮数及准确率 2: 9319 / 10000</p>
<p>训练轮数及准确率 3: 9343 / 10000</p>
<p>训练轮数及准确率 4: 9386 / 10000</p>
<p>训练轮数及准确率 5: 9401 / 10000</p>
<p>训练轮数及准确率 6: 9403 / 10000</p>
<p>训练轮数及准确率 7: 9442 / 10000</p>
<p>训练轮数及准确率 8: 9430 / 10000</p>
<p>训练轮数及准确率 9: 9459 / 10000</p>
<p>训练轮数及准确率 10: 9446 / 10000</p>
<p>训练轮数及准确率 11: 9457 / 10000</p>
<p>训练轮数及准确率 12: 9456 / 10000</p>
<p>训练轮数及准确率 13: 9444 / 10000</p>
<p>训练轮数及准确率 14: 9450 / 10000</p>
<p>训练轮数及准确率 15: 9452 / 10000</p>
<p>训练轮数及准确率 16: 9436 / 10000</p>
<p>训练轮数及准确率 17: 9481 / 10000</p>
<p>训练轮数及准确率 18: 9468 / 10000</p>
<p>训练轮数及准确率 19: 9475 / 10000</p>
<p>训练轮数及准确率 20: 9479 / 10000</p>
<p>训练轮数及准确率 21: 9480 / 10000</p>
<p>训练轮数及准确率 22: 9481 / 10000</p>
<p>训练轮数及准确率 23: 9487 / 10000</p>
<p>训练轮数及准确率 24: 9472 / 10000</p>
<p>训练轮数及准确率 25: 9477 / 10000</p>
<p>训练轮数及准确率 26: 9485 / 10000</p>
<p>训练轮数及准确率 27: 9470 / 10000</p>
<p>训练轮数及准确率 28: 9449 / 10000</p>
<p>训练轮数及准确率 29: 9481 / 10000</p>
<h3>最终准确率达到94.8%(自用电脑大概跑了得有10分钟)</h3>
</h3>



{% endblock content %}