{% extends "mainsite/base.html" %}

{% block header %}
  <h1 style='font-family:微软雅黑'>二、计量资料参数检验的前提——正态性检验</h1>
{% endblock %}

{% block content %}
<h4 style='font-family:宋体'>注意：请将数据放在第一列,标题行默认为第一排，在数据计算时会被忽略。</h4>
<h4><div class='container'>

<h3>提交并计算你的数据：</h3>
 <form action="{% url 'mainsite:normresult' %}" method="post" enctype="multipart/form-data" >
  {% csrf_token %}
  <input type="file" name="excel">
  <input type="submit" value="提交">
 </form>
</div></h4>
{% endblock content %}