{% extends "mainsite/base.html" %}

{% block header %}
  <h1 style='font-family:微软雅黑'>配对样本t检验结果：</h1>
{% endblock %}

{% block content %}

<h3>
 <ul>
      <li>
        <h3 style='font-family:宋体'>
         您的数据：{{ data1 }}<br/>
		 配对数据：{{ data2 }}<br/>
		 最重要的我都标出来了。。。是不是好贴心？<br/>
		 -------------------------------------------------------------------------------------<br/>
		 配对样本t检验t值：{{t}}<br/>
		 *P值：{{p}}<br/>

         
        </h3>
      </li>
  </ul>
</h3>
{% endblock content %}
