{% extends "mainsite/base.html" %}

{% block header %}
  <h1 style='font-family:微软雅黑'>方差齐性检验结果：</h1>
{% endblock %}

{% block content %}

<h3>
 <ul>
      <li>
        <h3 style='font-family:宋体'>
         您的数据：<br/>
		 {{ data }}<br/>
		 (采用Levene检验，检验水准按照β=0.1)<br/>
		 最重要的我都标出来了。。。是不是好贴心？<br/>
		 -------------------------------------------------------------------------------------<br/>
		 Levene检验的F值：{{f}}<br/>
		 *P值：{{p}}<br/>

         <script>
         if ({{p}}<0.1){
         alert("不！齐！……三缺一！")
         }
		 if ({{p}}>0.1){
         alert("齐了！召唤神龙呗……")
         }
         </script>


        </h3>
      </li>
  </ul>
</h3>
{% endblock content %}
